* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(font/CursedTimerUlil.ttf);
}

/* This is body */

body {
    /*margin: 0;*/
    text-align: center;
    background: #1F2937;
}

#title-app {
    color: #F3F4F6;
    font-family: Verdana, sans-serif;
    font-size: 45px;
}

#new-game {
    margin: 0 auto;
    width: 250px;
    color: #FB7185;
    font-family: Verdana, sans-serif;
    background: #080001;
    padding: 10px 0;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.team-stats h3 {
    font-family: Verdana, sans-serif;
    font-size: 40px;
    color: #F3F4F6;
}

.team-stats h4 {
    font-family: 'Cursed Timer ULiL';
    font-size: 90px;
    color: #FB7185;
    background: #080001;
    border-radius: 5px;
    padding: 18px 58px 0 58px;
    margin: 15px 15px;
}

.team-stats .btn {
    font-family: 'Cursed Timer ULiL';
    font-size: 18px;
    color: #9CA3AF;
    background: none;
    border: 2px solid #9CA3AF;
    border-radius: 5px;
    padding: 13px;
    margin: 5px 3px 0 3px;
}
